<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/products/add' ]"
        ><ion-icon name="add"></ion-icon>Nuevo</ion-button
      >
    </ion-buttons>
    <ion-title class="text-center">Lugares para reservar<ion-icon name="start-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let lugar of lugars">
      <ion-item>
        <ion-icon name="image-outline"></ion-icon>
        <ion-label class="text-center">{{ lugar.nombre}}</ion-label>
      </ion-item>
      <ion-card-content>
        {{ lugar.nombre }} <br>
        {{ lugar.sitio }} <br>
        {{ lugar.ubicacion }} <br>

        <!-- 
          <div *ngFor="let provedor of lugar.hotel">
            <p>Fabricado: {{ provedor.nombre }}</p>
            <p>Numero: {{ provedor.numero}}</p>
          </div> 
        -->
        <div class="text-center">
          <ion-button fill="outline" slot="end" (click)="view(lugar.codigo)"
          >View</ion-button
        >
        <ion-button color="success" fill="outline" slot="end" (click)="update(lugar.codigo)"
          >Update</ion-button
        >
        <ion-button color="danger" fill="outline" slot="end" (click)="delete(lugar.codigo)"
          >Delete</ion-button
        >
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
