<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Lugares</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="editLugar()" [disabled]="!formProductEdit.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProductEdit">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Sitio:</ion-label>
            <ion-input type="text" formControlName="psitio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" formControlName="pnombre"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Ubicacion:</ion-label>
            <ion-input type="text" formControlName="pubicacion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Precio:</ion-label>
            <ion-input type="text" formControlName="pprecio"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Fecha de disponibilidad:</ion-label>
            <ion-input type="text" formControlName="pfecha_disponibilidad">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Codigo:</ion-label>
            <ion-input type="number" formControlName="pcodigo">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Descripcion:</ion-label>
            <ion-textarea formControlName="pdescripcion"> </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="!formProductEdit.get('pdescripcion').valid &&
      formProductEdit.touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser mayor a 20 caracteres</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <p class="text-danger mt-4 text-center">NOTA: EL CODIGO DEL LUGAR DEBE PERMANECER IGUAL</p>
</ion-content>
