<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ lugar.nombre}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteLugar()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <center>
    <img src="assets/img/reservation.jpg" alt="">
    <div class="mt-5" padding>Precio: {{lugar.precio}} </div>
    <div class="" padding>Fecha de disposicion: {{lugar.fecha_disponibilidad}} </div>
    <div class="mb-5" padding>Codigo del lugar: {{lugar.codigo}} </div>
    <ion-button color="success" fill="outline" (click)="presentAlert()">Reservar</ion-button>
  </center>
</ion-content>
